{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
   
{% block content %}
            <!-- le carousel   --> 
            <div class="row fondRose">
                <div class="col-lg-12">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner slider">
                            {% for cc in carousel %}
                            <div class="carousel-item {% if loop.first%}active{% endif%}">
                                <img class="d-block w-100" src="public/img/photo/{{cc.pho_fichier}}" alt="{{cc.pho_titre}}"/>
                                <div class="carousel-caption d-none d-md-block insert">
                                    <p>{{cc.coc_nom }}</p>
                                    <a href="index.php?rub=details&id={{cc.coc_id}}" class="btn btn-primary">Voir les détails</a>
                                </div>
                                 
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- un espace --> 
            <div class="row">
                <div class="col-lg-12">&nbsp;<br/>&nbsp;</div>
            </div>


            <!-- le moteur de recherche -->
            <div class="row"  onload="chargerOnglet1();">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="categorie1-tab" data-toggle="tab" href="#categorie1" role="tab" aria-controls="categorie1" aria-selected="true">CATEGORIE 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="categorie2-tab" data-toggle="tab" href="#categorie2" role="tab" aria-controls="categorie2" aria-selected="false">CATEGORIE 2</a>
                    </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="categorie1" role="tabpanel" aria-labelledby="categorie1-tab">
                        Contenu de catégorie 1 : 
                        Lorem Elsass ipsum salu risus, Gal. quam. lotto-owe Verdammi kuglopf tchao bissame Miss Dahlias Kabinetpapier sit libero, sed picon bière geïz amet, schnaps hopla hop sit eget rossbolla eleifend s'guelt sed hopla turpis Hans commodo Coopé de Truchtersheim merci vielmols gal auctor, rhoncus quam, Pfourtz ! jetz gehts los Racing. varius morbi météor Oberschaeffolsheim et bredele barapli mamsell Strasbourg wie tellus non adipiscing gewurztraminer Heineken Pellentesque schpeck  id amet leo Wurschtsalad elit tellus geht's libero, condimentum Salu bissame ullamcorper schneck rucksack ch'ai Huguette senectus blottkopf, flammekueche Richard Schirmeck tristique yeuh. semper réchime Salut bisamme ante non nüdle placerat ftomi! kougelhopf DNA, vielmols, gravida libero. sagittis hoplageiss Gal !</div>
                        
                        <div class="tab-pane fade" id="categorie2" role="tabpanel" aria-labelledby="categorie2-tab">
                        Contenu de catégorie 2 : <br/>
                        Lorem Elsass ipsum salu risus, Gal. quam. lotto-owe Verdammi kuglopf tchao bissame Miss Dahlias Kabinetpapier sit libero, sed picon bière geïz amet, schnaps hopla hop sit eget rossbolla eleifend s'guelt sed hopla turpis Hans commodo Coopé de Truchtersheim merci vielmols gal auctor, rhoncus quam, Pfourtz ! jetz gehts los Racing. varius morbi météor Oberschaeffolsheim et bredele barapli mamsell Strasbourg wie tellus non adipiscing gewurztraminer Heineken Pellentesque schpeck  id amet leo Wurschtsalad elit tellus geht's libero, condimentum Salu bissame ullamcorper schneck rucksack ch'ai Huguette senectus blottkopf, flammekueche Richard Schirmeck tristique yeuh. semper réchime Salut bisamme ante non nüdle placerat ftomi! kougelhopf DNA, vielmols, gravida libero. sagittis hoplageiss Gal !</div>
                    </div>
                </div>
            </div>


            <!-- un espace --> 
            <div class="row">
                <div class="col-lg-12">&nbsp;<br/>&nbsp;</div>
            </div>

            <!-- les 2 cochons -->
            <div class="row">
            {% for c in cochons %}
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="public/img/photo/{{c.pho_fichier}}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{c.coc_nom}}</h5>
                            <p class="card-text">{{c.coc_description }}</p>
                            <p class="card-text">
                                <a href="index.php?rub=contact" class="btn btn-primary">Contact</a>
                                <a href="index.php?rub=details&id={{c.coc_id}}" class="btn btn-primary">Détails</a>    
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

            <!-- un espace --> 
            <div class="row">
                <div class="col-lg-12">&nbsp;<br/>&nbsp;</div>
            </div>
            <script src="public/js/ajax.js"></script>
            <script src="public/js/accueil.js"></script>
            <script src="public/js/categorie-1.js"></script>
    {% endblock %}