{% extends 'admin/admin_base.html.twig' %} 

{% block title %}Ajout d'un cochon{% endblock %}

{% block content %}
<a class="btn btn-info" href="index.php?rub=admin_pig-list" role="button">Retour à la liste des cochon</a>
{% if id < 0 %}
<h1>Ajout d'un cochon</h1>
<form action="index.php?rub=admin_pig-add-base" method="post" enctype="multipart/form-data">
{% else %}
 <h1>Modification du cochon n° {{id }}</h1>
<form action="index.php?rub=admin_pig-update-base" method="post" enctype="multipart/form-data">

 {% endif %}
    <input type="hidden" name="id" value="{{id }}">
    <table class="table">
    {% set id = 0 %}
    {% set nom = "" %}
    {% set poids = 0 %}
    {% set date_naiss = "" %}
    {% set duree_de_vie = 0 %}
    {% set description = "" %} 
    {% set sexe = "" %}
    {% set mere = "" %}
    {% set pere = "" %}
    {% set couleur = 0 %}
    {% set race = 0 %}
        
    {% for p in pig   %}
        {% set id = p.coc_id %}
        {% set nom = p.coc_nom %}
        {% set poids = p.coc_poids %} 
        {% set date_naiss = p.coc_date_naiss %} 
        {% set sexe = p.coc_sexe %}
        {% set duree_de_vie = p.coc_duree_de_vie %}
        {% set mere = p.coc_mere_id %}
        {% set pere = p.coc_pere_id %}
        {% set description = p.coc_description %}
        {% set couleur = p.coc_couleur_id %}
        {% set race = p.coc_race_id %}

    {% endfor %}
    
        <tr>
            <th><label for="nom">Nom</label></th>
            <td><input type="text" name="nom" required value="{{ nom }}"></td>
        </tr>
        <tr>
            <th>Poids (en g)</th>
            <td><input type="number" min="0" name="poids" value="{{ poids}}"></td>
        </tr>
        <tr>
            <th>Date de naissance</th>
            <td><input type="date-time-local" name="date_naiss" value="{{ date_naiss}}"></td>
        </tr>
        <tr>
            <th>Sexe</th>
            <td>
                <select name="sexe">
                    <option value="Femelle" {% if sexe == "Femelle" %} selected {% endif %}>Femelle</option>
                    <option value="Mâle" {% if sexe == "Mâle" %} selected {% endif %}>Mâle</option>
                </select>
            </td>
        <tr>
            <th>Durée de vie (en jours)</th>
            <td><input type="number" min="0" name="duree_de_vie" value="{{ duree_de_vie }}"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description" cols="75" resizable=true>{{description}}</textarea></td>
        </tr>
        <tr>
            <th>Races</th>
            <td>
                <select id="race" name="race">
                    {% for r in races %}
                        <option value="{{r.rac_id}}" {% if r.rac_id == race %}selected{% endif %}>{{r.rac_libelle}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
         <tr>
            <th>Couleurs</th>
            <td>
                <select id="couleur" name="couleur">
                    {% for c in couleurs %}
                        <option value="{{c.cou_id}}" {% if c.cou_id == couleur %}selected{% endif %}>{{c.cou_libelle}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Mère</th>
            <td>
                <select id="mere" name="mere">
            {% for w in womens %}
                <option value="{{ w.coc_id }}" {% if (w.coc_id == mere) %} selected {% endif %}>{{ w.coc_nom }}</option>
            {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>Père</th>
            <td>
                <select id="pere" name="pere">
                {% for m in mens %}
                    <option value="{{ m.coc_id }}" {% if m.coc_id == pere %} selected {% endif %}>{{ m.coc_nom }}</option>
                {% endfor %}
                </select>
            </td>
        </tr>
       
        {% set cpt_photo = 1 %}

    {% if id > 0 %}
        {% for pic in pictures %}
        
        <tr>
            <th>
                {% if cpt_photo == 1 %}
                    "Grande" image
                {% else %}
                    Miniature {{ cpt_photo-1}} 
                {% endif %}
            </th>
            <td>
                <div id="titre_block" style="float:left">Photo actuelle<br/>
                    <img src="public/img/photo/{{ pic.pho_fichier}}" width="100"/>
                </div>
                <input type="hidden" name="id_{{cpt_photo}}" value="{{pic.pho_id}}"/>
                <input type="file" id="picture_{{ cpt_photo }}" name="picture_{{ cpt_photo}}" accept="image/png, image/jpeg">
            </td>
        </tr>
        <tr>
            <th>Titre 
                 {% if cpt_photo == 1 %}
                    "grande" image
                {% else %}
                    miniature {{ cpt_photo-1}} 
                {% endif %}
            </th>
            <td><input type="text" name="titre_{{cpt_photo}}" value="{{ pic.pho_titre}}"/></td>
        </tr>
      
            {% set cpt_photo = cpt_photo + 1 %}
            {% endfor %}
        {% else %}
        <tr>
            <th>"Grand" image</th>
            <td><input type="file" id="picture_1" name="picture_1" accept="image/png, image/jpeg" required>           </td>
        </tr>
        <tr>
            <th>Titre de la "grand image"</th>
            <td><input type="text" name="titre_1"/></td>
        </tr>
        <tr>
            <th>Miniature 1</th>
            <td><input type="file" id="picture_2" name="picture_2" accept="image/png, image/jpeg" required>
            </td>
        </tr>
        <tr>
            <th>Titre de la miniature 1</th>
            <td><input type="text" name="titre_2"/></td>
        </tr>
        <tr>
            <th>Miniature 2</th>
            <td><input type="file" id="picture_3" name="picture_3" accept="image/png, image/jpeg" required>           </td>
        </tr>
        <tr>
            <th>Titre de la miniature 2</th>
            <td><input type="text" name="titre_3"/></td>
        </tr>
        <tr>
            <th>Miniature 3</th>
            <td><input type="file" id="picture_4" name="picture_4" accept="image/png, image/jpeg" required>           </td>
        </tr>
        <tr>
            <th>Titre de la miniature 3</th>
            <td><input type="text" name="titre_4"/></td>
        </tr>
        <tr>
            <th>Miniature 4</th>
            <td><input type="file" id="picture_5" name="picture_5" accept="image/png, image/jpeg" required>           </td>
        </tr>
        <tr>
            <th>Titre de la miniature 4</th>
            <td><input type="text" name="titre_5"/></td>
        </tr>
		{% endif %}
        <tr>        
            <td colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" class="text-center"><input type="submit" name="btn_valder"></td>
        </tr>        
    </table>
</form>
{%endblock%}